<app-navbar></app-navbar>
<div class="home">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="jumbotron col-md-8">
        <h1 class="display-3">Upload</h1>
        <br>
        <form>
          <div>
            <p class="lead">Diretório Arquivo</p>
            <hr class="my-4">
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="custom-file" id="customFile" lang="es">
                <input type="file" class="custom-file-input" id="exampleInputFile" aria-describedby="fileHelp">
                <label class="custom-file-label" for="exampleInputFile">
                  Selecione o Arquivo
                </label>
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="col-md-14">
            <button type="button" class="btn btn-block btn-primary">Carregar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

